<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-footer class="imagem">
      <img src="assets/icon/logo2.png">
    </ion-footer>
    <ion-title style="text-align: center;">Consulta de Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-card *ngFor="let itens of itens">
    <ion-card-header>
      <ion-icon size="large" class="botao" name="trash"></ion-icon>
      <ion-icon size="large" class="botao" name="create"></ion-icon>
      <ion-card-title> {{ itens.Marca }} {{itens.Modelo}} - {{itens.Tipo}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-card-title style="color: rgb(238, 234, 27);">Em andamento</ion-card-title>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let itens of itens">
    <ion-card-header>
      <ion-card-title> {{ itens.Marca }} {{itens.Modelo}} {{itens.Ano}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-card-title style="color: green;">Finalizado</ion-card-title>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let itens of itens">
    <ion-card-header>
      <ion-card-title> {{ itens.Marca }} {{itens.Modelo}} {{itens.Ano}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-card-title style="color: red;">Cancelado</ion-card-title>
      </div>
    </ion-card-content>
  </ion-card> -->

  <ion-item-sliding *ngFor="let agend of listaAgendamentos">

    <ion-item lines="full">
      <ion-label>
        <div>
          <p>
            {{agend.dia | date: 'dd MMM yyyy'}} às  {{agend.horario | date: 'HH:mm'}}
          </p>
          <p>
            {{agend.veiculo}}
          </p>
          <p>
            {{agend.obs}}
          </p>
        </div>
      </ion-label>
      <ion-note *ngIf="agend.status" slot="end">
        <ion-badge  *ngIf="agend.status =='A'" color="secondary">Aberto</ion-badge>
        <ion-badge  *ngIf="agend.status =='C'" color="success">Concluído</ion-badge>
        <ion-badge  *ngIf="agend.status =='D'" color="danger">Cancelado</ion-badge>
      </ion-note>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deletar(agend.$key)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option color="secondary"  routerLink='/agendamento-add-edit/{{agend.$key}}'>
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink='/agendamento-add-edit/-1'>
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>