<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-footer class="imagem">
      <img src="assets/icon/logo2.png">
    </ion-footer>
    <ion-title style="text-align: center;">Veículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input class="descer" type="number" placeholder="Ano de Fabricação"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="descer" type="name" placeholder="Marca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="descer" type="name" placeholder="Modelo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="descer" type="name" placeholder="Cor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="descer" type="name" placeholder="Placa"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="descer" type="name" placeholder="Categoria"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input class="descer" type="name" placeholder="Combustível"></ion-input>
  </ion-item>

  <ion-button class="descer" color="tertiary" expand="block">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-button>


</ion-content>