<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-footer class="imagem">
      <img src="assets/icon/logo2.png">
    </ion-footer>
    <ion-title style="text-align: center;">Veículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">

  <form [formGroup]="formVeiculos">

    <ion-item class="descer" lines="none">
      <ion-label position="stacked">Marca</ion-label>
      <ion-input formControlName="marca" type="text"></ion-input>
      <ng-container *ngFor="let erro of msg_validacao.marca">
        <span class="msg-erro"
          *ngIf="formVeiculos.get('marca').hasError(erro.tipo) && (formVeiculos.get('marca').dirty || formVeiculos.get('marca').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item class="descer" lines="none">
      <ion-label position="stacked">Modelo</ion-label>
      <ion-input formControlName="modelo" type="text"></ion-input>
      <ng-container *ngFor="let erro of msg_validacao.modelo">
        <span class="msg-erro"
          *ngIf="formVeiculos.get('modelo').hasError(erro.tipo) && (formVeiculos.get('modelo').dirty || formVeiculos.get('modelo').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item class="descer" lines="none">
      <ion-label position="stacked">Ano</ion-label>
      <ion-input formControlName="ano" type="number"></ion-input>
      <ng-container *ngFor="let erro of msg_validacao.ano">
        <span class="msg-erro"
          *ngIf="formVeiculos.get('ano').hasError(erro.tipo) &&  (formVeiculos.get('ano').dirty || formVeiculos.get('ano').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item class="descer" lines="none">
      <ion-label position="stacked">Cor</ion-label>
      <ion-input formControlName="cor" type="text"></ion-input>
      <ng-container *ngFor="let erro of msg_validacao.cor">
        <span class="msg-erro"
          *ngIf="formVeiculos.get('cor').hasError(erro.tipo) && (formVeiculos.get('cor').dirty || formVeiculos.get('cor').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item class="descer" lines="none">
      <ion-label position="stacked">Placa</ion-label>
      <ion-input formControlName="placa" type="text"></ion-input>
      <ng-container *ngFor="let erro of msg_validacao.placa">
        <span class="msg-erro"
          *ngIf="formVeiculos.get('placa').hasError(erro.tipo) && (formVeiculos.get('placa').dirty || formVeiculos.get('placa').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item class="descer" lines="none">
      <ion-label position="stacked">Combustível</ion-label>
      <ion-input formControlName="combust" type="text"></ion-input>
      <ng-container *ngFor="let erro of msg_validacao.combust">
        <span class="msg-erro"
          *ngIf="formVeiculos.get('combust').hasError(erro.tipo) && (formVeiculos.get('combust').dirty || formVeiculos.get('combust').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-button color="tertiary" expand="block" [disabled]="!formVeiculos.valid" (click)="cadVeiculo()">
      <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
      Gravar
    </ion-button>
  </form>

</ion-content>