<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-footer class="imagem">
      <img src="assets/icon/logo2.png">
    </ion-footer>
    <ion-title style="text-align: center;">Agendamento</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ng-container *ngIf="formAgend">
  <form [formGroup]="formAgend">

    <ion-item class="descer" lines="none">
      <ion-label position="stacked">Quando ?</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" min="2020" max="2021" cancelText="Cancelar" doneText="Ok" placeholder="Selecione a data"
        formControlName="dia">
      </ion-datetime>
      <ng-container *ngFor="let erro of msg_validacao.dia">
        <span class="msg-erro"
          *ngIf="formAgend.get('dia').hasError(erro.tipo) && (formAgend.get('dia').dirty || formAgend.get('dia').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>
    <!-- display-format="hh:mm" picker-format="hh:mm" -->
    <ion-item lines="none">
      <ion-label position="stacked" class="descer">Qual Horário ?</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" cancelText="Cancelar" doneText="Ok"
        placeholder="Selecione o horário" formControlName="horario">
      </ion-datetime>
      <ng-container *ngFor="let erro of msg_validacao.horario">
        <span class="msg-erro"
          *ngIf="formAgend.get('horario').hasError(erro.tipo) && (formAgend.get('horario').dirty || formAgend.get('horario').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-item lines="none" class="descer">
      <ion-label position="stacked">Veículo</ion-label>
      <ion-select value="veiculos" lines="none" cancelText="Cancelar" doneText="Ok" formControlName="veiculo">
       <div *ngFor="let veiculo of listaVeiculos"> 
        <ion-select-option  value="{{veiculo.modelo}}" >{{veiculo.modelo}}</ion-select-option>
      </div>
        <!-- <ion-select-option value="gol">Gol</ion-select-option> -->
      </ion-select>
      <ng-container *ngFor="let erro of msg_validacao.veiculo">
        <span class="msg-erro"
          *ngIf="formAgend.get('veiculo').hasError(erro.tipo) && (formAgend.get('veiculo').dirty || formAgend.get('veiculo').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <!-- <ion-radio-group value="levaTras" lines="none">
      <ion-list-header>
        <ion-label>Selecione a opção</ion-label>
      </ion-list-header>

      <ion-item lines="none">
        <ion-label>Levar até a Oficina</ion-label>
        <ion-radio slot="start" color="secondary" value="leva" checked="true"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Técnico buscar no local</ion-label>
        <ion-radio slot="start" color="secondary" value="busca"></ion-radio>
      </ion-item>
      <ng-container *ngFor="let erro of msg_validacao.opcaoLevatras">
        <span class="msg-erro"
          *ngIf="formAgend.get('opcaoLevatras').hasError(erro.tipo) && (formAgend.get('opcaoLevatras').dirty || formAgend.get('opcaoLevatras').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-radio-group> -->


    <ion-item class="descer" lines="none">
      <ion-label position="stacked">Observações: </ion-label>
      <ion-textarea type="text" size="500" formControlName="obs"></ion-textarea>
      <ng-container *ngFor="let erro of msg_validacao.obs">
        <span class="msg-erro"
          *ngIf="formAgend.get('obs').hasError(erro.tipo) && (formAgend.get('obs').dirty || formAgend.get('obs').touched)">
          {{erro.mensagem}}
        </span>
      </ng-container>
    </ion-item>

    <ion-button class="descer" color="tertiary" expand="block" [disabled]="!formAgend.valid" (click)="cadAgend()">Finalizar Agendamento</ion-button>

  </form>
</ng-container>
</ion-content>